/*The three parts of the css box model are
Margin: empty space around my element
Border: a border / stroke / around my element
Padding: empty space around my element WITH background 
around my element

All of these ADD on top of the width and height
*/
h1{
    background-image: url(../img/header.jpeg);
    background-repeat: repeat-x;
    color: whitesmoke;
    padding: 50px;
    padding-left: 275px;
}
h2{
    color:rgb(3, 75, 99);
    font-size: 20px;
    
}
p{
    width: 700px;
    font-family:Arial, Helvetica, sans-serif;
}
ol{
    font-weight: bold;
    width: 500px;
}

body{
    background-color:lightgray;
    color:black;
    font-size: 15px;
}



span{
    color:royalblue;
    font-size: 15px;
    font-weight:bold;
}
.highlight{
    background:yellow;
}
